<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - EventManager 360</title>
    <link rel="stylesheet" href="~/Css/estilos.css" type="text/css"/>
</head>
<body>
    <header>
        <h1>EventManager 360</h1>
    </header>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi administrador de eventos</p>
    </footer>
    <script src="~/JavaScript/login.js"></script>
</body>
</html>
