<main>
    <form class="form" method="post" onsubmit="authentication()" id="login">
        <span class="input-span">
            <label for="email" class="label">Email</label>
            <input type="email" name="email" id="email" />
        </span>
        <span class="input-span">
            <label for="password" class="label">Password</label>
            <input type="password" name="password" id="password" />
        </span>
        <input class="submit" type="submit" />
    </form>
    <h3 hidden id="errormessage">Credenciales incorrectas</h3>
</main>